

body {
	background: #F9F7F3;
}


.header {
	position: fixed;
	top: 0;
	left: 0;
	min-width:400px;
	max-width:400px;
	height:100%;
	background: #31475A;

}
.content {
	margin-left:405px;
	margin-top:5px;
	margin-right:5px;
	

}

.list-cell {
	display: inline-block;
	height:400px;
	width:33%;
	margin-top:10px;
}
.cell-content {
	width:98%;
	height:100%;
	margin:auto;
	border:1px solid #EEE;
	position:relative;
	border-radius:3px;
}

.cell-content:hover {
	border:1px solid #BBB;
}
.list-cell:hover {
	
}

.list-cell img {
	border-radius:3px 3px 0 0;


}

.list-cell .bottom {
	position:absolute;
	bottom:0;
	width:100%;
	float:left;

}

.list-cell .bottom .price{
	display:none;
	position:relative;
	min-width: 50%;
	width:50%;
}
.title {
	padding:10px;
	font-size: 18px;
	font-weight:bold;

}
.list-cell .bottom .con {
	position:relative;
	width:100%;
	

}
.list-cell .bottom .action-button {
	position:absolute;
	right:0px;
	bottom:0px;


}


